
#
# RPC login details
#
host=stratum+tcp://eu.stratum.slushpool.com:3333
port=3333

rpcuser=ilyashusterman.worker1
rpcpass=asdasdasd


#
# mining details
#

threads=4

# periodic rate for requesting new work, if solution not found
scantime=60


#
# misc.
#

# not really used right now
logdir=/tmp/pyminer

# set to 1, to enable hashmeter output
hashmeter=1